<!doctype html>
<html lang="en" ng-app="storeApp">
	<head>
		<title>www.SOS-ka.com - интернет-магазин сосок WubbaNub, MARY MEYER, NOOKUMS PACI-PLUSHIES</title>
		<meta charset="utf-8">
		<meta name="description" content="www.SOS-ka.com интернет-магазин уникальных сосок, её не возможно потерять и она на выпадет изо рта вашего ребенка. Купить соски от американских компаний WubbaNub, MARY MEYER, NOOKUMS PACI-PLUSHIES и Bunnies By The Bay">
		<meta name="keywords" content="СОС-ка,SOS-ka,www.SOS-ka.com,SOS-ka.ru,SOS-ka.com,www.SOS-ka.ru,soska,MARY MEYER,NOOKUMS PACI-PLUSHIES,WubbaNub,Bunnies By The Bay,Ваббанаб,Мэри Мэир,Нукумс,Паси плюш">
		<meta name="author" content="Sergei Sevriugin">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="google-site-verification" content="FqoXSLWCfMmLYqlyxYDcnvdI_UsH9ECdGsVFwF-Thxg" />
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css?v=5">
		<link rel="stylesheet" href="css/icomoon/style.css">
		<link rel="shortcut icon" href="/img/ico/ico32.png" sizes="32x16" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="img/ico/ico60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x36" href="img/ico/ico72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x60" href="img/ico/ico120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x76" href="img/ico/ico152.png" type="image/png"/>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
		
		<script type="text/javascript" src="dist/angulartics.min.js"></script>
		<script type="text/javascript" src="dist/angulartics-google-analytics.min.js"></script>
	
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  			
			ga('create', 'UA-74050055-1', 'auto');
		</script>
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '1744605015759256');
			fbq('track', "PageView");
		</script>
		<noscript>
			<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1744605015759256&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="home">
		<div class="container-fluid" ng-controller="MainCtrl">
			<div class="menu-wrapper">
				<a href="#/products" class="close-menu visible-xs"><i class="icon-close"></i></a>
				<h3 class="visible-xs">Navigation</h3>
				<ul class="nav-list text-center effect visible-md visible-lg">
					<li class="active"><a href="#/products">Коллекция</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Партнеры &nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-repeat="vendor in vendors"><a href="#/vendor/{{vendor.id}}">{{vendor.title}}</a></li>
						</ul>
					</li>
					<li><a href="#/about">O~НАС</a></li>
					<li><a href="#/articles">МЕЖДУ~НАМИ~МАМАМИ</a></li>
					<li><a href="#/contact">Контакты</a></li>
					<li ng-if ="!dropDown()"><a href="#/login">Вход</a></li>
					<li ng-if ="dropDown()"><a href="#/orders">Мои заказы</a></li>
					<li ng-if ="dropDown()" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">{{loginMenu()}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-if ="admin()"><a href="auth">OAuth</a></li>
							<li ng-if ="admin()"><a href="list">List</a></li>
							<li ng-if ="admin()"><a href="users">Users</a></li>
							<li><a href="#/products" ng-click="logout()">logout</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav-list text-center effect visible-xs mt-info">
					<li class="active"><a href="#/products">Коллекция</a></li>
					<li><a href="#/vendors">Партнеры</a></li>
					<li role="separator" class="divider"></li>
					<li ng-repeat="vendor in vendors"><a href="#/vendor/{{vendor.id}}">{{vendor.title}}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/about">O~НАС</a></li>
					<li><a href="#/articles">МЕЖДУ~НАМИ~МАМАМИ</a></li>
					<li><a href="#/contact">Контакты</a></li>
					<li role="separator" class="divider"></li>
					<li ng-if ="!dropDown()"><a href="#/login">Регистрация</a></li>
					<li ng-if ="dropDown()" ><a href="#/orders">Мои заказы</a></li>
					<li ng-if ="dropDown()" ><a href="">{{loginMenu()}}</a></li>
					<li ng-if ="admin()"><a href="auth">OAuth</a></li>
					<li ng-if ="admin()"><a href="list">List</a></li>
					<li ng-if ="dropDown()"><a href="#/products" ng-click="logout()">logout</a></li>
				</ul>
			</div>
			<span class="visible-md visible-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
			</div>
		</div>
		<div id="wrap" ng-view ng-class="viewClass()"></div>
		<div class="view">
			<footer>
				<div class="container-fluid">
					<div class="pull-left copyright">
						<p><b>SOS</b>-ka &copy; 2016. 
					 	<ul class="nav-list effect">
							<li><a href="#/terms">Delivery & Returns</a></li>
							<li><a href="#/terms">Terms & Conditions</a></li>
							<li><a href="#/terms">Privacy</a></li>
							<li><a href="#/terms">FAQ</a></li>
							<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
							<li><a href="#/vendor/WubbaNub®">WubbaNub</a></li>
							<li><a href="#/vendor/mary-meyer">MARY MEYER</a></li>
							<li><a href="#/vendor/paci-plushies">NOOKUMS PACI-PLUSHIES</a></li>
						</ul>	
					</div>
					<div class="pull-right copyright"> 
						<ul class="social-links"> 
							<li><a href="https://instagram.com/soskashop"><i class="icon-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/soskawubbanub"><i class="icon-facebook"></i></a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/placeholders.min.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
		<script type="text/javascript" src="js/ga.js"></script>
		<script type="text/javascript" src="js/moment/moment.js"></script>
		<script type="text/javascript" src="js/moment/locale/ru.js"></script>
		<script type="text/javascript" src="js/angular-moment/angular-moment.js"></script>
		
		<!-- BEGIN JIVOSITE CODE {literal} -->
		<script type='text/javascript'>
			(function(){ var widget_id = 'pAnQCVYgZD';var d=document;var w=window;function l(){	
			var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
		</script>
		<!-- {/literal} END JIVOSITE CODE -->
	</body>
</html>