<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><span>SOS</span>-ka</a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>Приятно познакомиться!</h2>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-8">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/about-11.jpg" class="product-img img-responsive" alt="item">
    			</li>
    			<li class="list-group-item">
    				<img src="img/soska3.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>    					
		<div class="col-sm-4">
			<div class="product-detail center-block">
				<p> Каждый ребенок выбирает своего плюшевого друга</p>
			</div>
			<img src="img/about-2.jpg" alt="#" class="zoom-img img-responsive center-block">
			<div class="product-detail center-block">
				<p>Настенка и её  Wubbanub</p>
			</div>
			<img src="img/about-5.jpg" alt="#" class="zoom-img img-responsive center-block">
			<div class="product-detail center-block">
				<p>Детская непосредственность восхищает</p>
			</div>
			<img src="img/about-31.jpg" alt="#" class="zoom-img img-responsive center-block">
			<div class="product-detail center-block">
				<p>Улыбки покоряют</p>
			</div>
			<img src="img/about-12.jpg" alt="#" class="zoom-img img-responsive center-block">
		</div>
		<div class="col-sm-8">
			<ul class="list-group">
				<li class="list-group-item">
					<b>
						Философия <span>SOS</span>-ka - проста: предложить Вам качественный и безопасный продукт, который мы, как родители, предлагаем своим собственным детям.
					</b>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
					<b>
						<span>SOS</span>-ka может стать первым хорошим другом Вашему малышу и мы будем счастливы быть небольшой частью Вашей семьи.
					</b>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="social-links list-group">
				<li class="list-group-item">
					<a href="">1</a>
					<h2>
						Малышу легко её держать
					</h2>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="social-links list-group">
				<li class="list-group-item">
					<a href="">2</a>
					<h2>
						Её почти невозможно потерять
					</h2>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="social-links list-group">
				<li class="list-group-item">
					<a href="">3</a>
					<h2>
						и самое главное, она не выпадает изо рта вашего ребенка во время сна
					</h2>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/about-9.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>    					
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					<b>
						Только став мамой,ощущаешь каждой клеточкой своего тела это счастье! Невозможно передать те нежные чувства, которые испытываешь каждый раз, разглядывая детское личико. Чувствуешь необычайное тепло на сердце когда малыш тебе улыбается и тянет свои ручки. Больше никогда не будет как раньше! Теперь будет каждый день что-то новое и незабываемое!!
					</b>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					<h3 class="product-title">
						Не случайно дети и их родители любят WubbaNub, соска WubbaNub разработана мамой.
					</h3>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					<h3 class="product-title">
						Это решение “два в одном” сделало WubbaNub лидером индустрии детских товаров в США с 1999 года.
					</h3>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/about-8.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul> 
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/about-6.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul> 
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/soska2.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul> 
		</div>
	</div>
</div>