<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><span>SOS</span>-ka</a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>BIO графия</h2>
			</div>
		</div>
	</div>
</div>

<p align="center"><img alt="" height="300" src="img/tessa-turtle.jpg" width="300"></p>
<p align="center">Философия <b>SOS</b>-ka - проста: предложить Вам качественный и безопасный продукт, который мы, как родители, предлагаем своим собственным детям.</p>
<p align="center"><b>SOS</b>-ka может стать первым хорошим другом Вашему малышу и мы будем счастливы быть небольшой частью Вашей семьи.</p>
<p align="center">Малышу легко её держать, её почти невозможно потерять и, самое главное, она не выпадет изо рта вашего ребенка.</p>
<p align="center">Не случайно дети и их родители любят WubbaNub, соска WubbaNub разработана мамой.</p>
<p align="center">WubbaNub - это инновационный дизайн, соединяющий соску и мягкую игрушку.</p> 
<p align="center">Это решение “два в одном” сделало WubbaNub лидером </p>
<p align="center">индустрии детских товаров с 1999г. в США</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>