<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand">YATIM <span>ROSTOV</span></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>BIO ГРАФИЯ</h2>
			</div>
		</div>
	</div>
</div>

<p align="center"><img alt="" height="150" src="img/logo.about.jpg" width="150"></p>
<p align="center">Украшения ручной работы нестандартного дизайна</p>
<p align="center">Каждое украшение по своему уникально и речь идет</p>
<p align="center">даже не о дизайне или функциональности. В изготовлении</p>
<p align="center">украшений применяются натуральные камни, каждый из которых</p>
<p align="center">имеет свою неповторимую внешность.</p>
<p align="center">Все вооплащенные в украшениях</p>
<p align="center">идеи по-настоящему уникальны и до сих пор никем</p>
<p align="center">не были придуманы. В нахиш работах достигнут некий пик</p>
<p align="center">эксклюзивности и уникальности. Наши работы не купить</p>
<p align="center">в ювелирных магазинах и не заказать с алиэкспресса.</p>
<p align="center">Мы нестандартны, а значит уникальны. Присоединяйтесь</p>
<p align="center">к нам: обладайте произведением искусства из &ldquo;музея&rdquo;,</p>
<p align="center">приобретите шедевр из &ldquo;галереи&rdquo;или соберите свою &ldquo;коллекцию&rdquo;.</p>
<p align="center">Желаем Вам счастья и красоты!</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Идейный вдохновитель Ятим Ростов</p>
