<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><img ng-src="img/logo.png" alt="item"></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>Развитие зрения у младенцев</h2>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-05-01-02.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Наконец, кроха у Вас на руках и впервые открывает свои глазки. Вы будете удивлены, но Мир ему не кажется таким уж прекрасным. Сегодня офтальмологи отмечают, что кроха может видеть предмет на расстоянии 20–30 см от его лица и на уровне глаз - не больше, и  видит предметы несколько размытыми, он не способен различать мелких деталей и видит  цвета на уровне "ярче–темнее", но мамино лицо и грудь - малыш видит вполне отчётливо, это обусловлено инстинктами выживания.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Рекомендации мамам:
					<ul>
						<li>Днём малышу просто необходим солнечный свет – это будет заставлять его учиться "пользоваться глазками". Ночью же вполне можно включать ночник - это нисколько не повредит крохе, а при пробуждении станет хорошим стимулом для зрения;</li>
						<li>В первые месяцы жизни необходимо производить ежедневный туалет, протирая глазки крохи ватным диском, смоченным в чуть тёплой кипячёной воде или настое из ромашки от края глаза к переносице;</li>
						<li>Закреплять игрушки в кроватке или коляске нужно правильно: вешайте их не над головой ребёнка, а над его животиком, на высоте около 30 сантиметров;</li>
						<li>В течение первого года жизни малыша рекомендуется раз в три месяца показывать офтальмологу.</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Новорожденным больше нравятся контрастные чёрно-белые узоры, потому что в этот период их палочки (клетки в сетчатке, чувствительные к слабому свету и различающие только чёрный и белый) работают лучше, чем колбочки (клетки, которые видят цвета на ярком свету). В первый месяц жизни малыши предпочитают простые геометрические фигуры, клетку, полоску, точки, прямые и ломаные линии. Поэтому для развития зрения можно использовать специальные чёрно-белые картинки для детей до года. Прикрепив их  к стенкам кроватки, или развесив по дому, прогуливаясь останавливайтесь у них, давая возможность разглядеть изображения.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-05-02.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-05-03.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Меняйте картинки раз в 3 дня с нарастанием сложности. Это поможет малышу фокусировать взгляд. Начинайте с самых простых линий и фигур. При проявлении у малыша интереса к картинке оставьте её на более долгое время – пусть кроха изучит её. Расстояние от глаз ребёнка до изображения в возрасте 10 дней – 1,5 месяца – около 30 см. Размер рисунков – формат А4.
				</li>
				<li class="list-group-item">	
					Ну и конечно же не забывайте о контакте с помощью улыбок и «рожиц», упражнении с погремушкой: трясите погремушкой, привлекая внимание, зафиксировал взгляд малыш на ней - начинайте  медленно перемещать её то вправо, то влево, чтобы малыш следил за ней взглядом. Давайте новые впечатления крохе, устраивая экскурсии по квартире с демонстрацией всех интересных предметов.
				</li>
				<li class="list-group-item">	
					Вводить цвет стоит с двух месяцев. Сначала малыш способен воспринимать красный и жёлтый цвета, чуть позже – зелёный и синий. Дальше вы можете показывать любые цвета в произвольном порядке и комбинациях.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-05-04.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					К 4 месяцам ребёнок видит все цвета и может фокусировать зрение и на ближних, и на дальних предметах, образы, полученные от правого и левого глаза начинают объединяться в один – у малыша развивается бинокулярное зрение и зрительное восприятие глубины. В этом возрасте малыши очень любят рассматривать объекты народных промыслов - жостовские подносы, хохлому, гжель, орнаменты и ковровые узоры.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-05-05.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Картинки для печати в хорошем качестве модно взять <a href="http://taberko.livejournal.com/209981.html">здесь</a>, подписавшись на e-mail рассылку: <span>(чёрно-белые картинки и готовые развёртки для самодельных мобилей, цветные картинки, хохлома, гжель, орнаменты и ковровые узоры).</span>
				</li>
			</ul>
		</div>
	</div>
</div>