<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><img ng-src="img/logo.png" alt="item"></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>Приучение к соске</h2>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-01.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>    					
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Эту статью я решила написать для мам, которые столкнулись с проблемой нежелания малыша  брать соску. Есть ряд очевидных преимуществ соски, ради которых, всё же, стоит попытаться приучить ребёнка к пустышке.
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					С первых минут жизни у ребёнка очень сильно развит врождённый сосательный рефлекс, который сохраняется у малышей до полутора-двух, а у некоторых и до трёх лет. Для его удовлетворения малыш либо ест, либо сосёт пустышку. Естественно, что ребёнок не в состоянии есть всё время, и в момент, когда он не голоден, но нуждается в сосании, целесообразно предложить ему соску
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					Из практического опыта многих мам можно сделать заключение что детки, использующие пустышку, выражают меньше взволнованности, оставаясь на какой-то период с няней или бабушкой
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					Использовать пустышку, чтобы успокоить ребёнка может любой член семьи: папа, бабушки и старшие дети. Ребёнок, приученный к пустышке засыпает быстрее, без длительных укачиваний
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item">
					Ребёнка можно быстро успокоить в любой ситуации, предложив ему пустышку, вместо груди. Соска – это некий элемент успокоения, который в любой момент может позволить ребёнку совладать со своими эмоциями самостоятельно, что является весьма полезным умением и просто необходимым навыком
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Есть так же достаточно веских аргументов от специалистов:
					<ul>
						<li>
							Во время прогулки, когда ребёнок играет в песочнице, соска поможет предотвратить попадание мелких камешков и разных грязных предметов в ротик.
						</li>
						<li>
							Когда приходится ждать в больших очередях, например, в поликлинике, во время прогулок по магазинам, всевозможные поездки и путешествия.
						</li>
						<li>
							Дети, которые приучены к пустышке, не имеют привычки сосать пальчик.
						</li>
						<li>
							Благодаря соске многие детки легче переносят боли в деснах, связанные с появлением зубов.
						</li>
						<li>
							Ребёнок, который сосёт пустышку, не «обливается» слюной, т.к. сосание помогает ему её сглатывать. Благодаря этому на коже вокруг рта у ребёнка не бывает раздражения.
						</li>
						<li>
							Современные логопеды уверяют, что сосание пустышки способствует развитию и тренировке речевых мышц.
						</li>
						<li>
							Есть также мнение детских гастроэнтерологов , которые считают, что пустышка стимулирует деятельность кишечника и способствует отхождению газов при метеоризме.
						</li>
						<li>
							Специалисты, занимающиеся вопросами детского развития, уверяют, что пустышка не имеет никаких противопоказаний. Главное, подобрать самую удобную соску для ребёнка.
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Давайте рассмотрим причины отказа  малыша от соски.
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="social-links list-group">
				<li class="list-group-item">
					<a href="">1</a>
					<h2>
						Дискомфорт - ему не подходить материал, из которого произведена пустышка (например, жёсткая)
					</h2>
					<p>
						&nbsp;
					</p>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="social-links list-group">
				<li class="list-group-item">
					<a href="">2</a>
					<h2>
						Ему не нравится её форма (неудобная)
					</h2>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="social-links list-group">
				<li class="list-group-item">
					<a href="">3</a>
					<h2>
						Пустышка слишком большая, или слишком маленькая (не подходящий размер)
					</h2>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Педиатры советуют обратить внимание при выборе пустышки на следующие моменты:
					<ul>
						<li>
							Размер (должен увеличиваться с возрастом и размером ребёнка );
						</li>
						<li>
							Материал ( предпочтительнее медицинский силикон без Бесфинола А и Поливинилхлорида);
						</li>
						<li>
							Форму соски.
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Существует несколько форм сосок: классические (круглые), симметричные (каплевидные сплюснутые) и ортодонтические (анатомические в виде капельки со скошенным соском).
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/shape-1.png" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/shape-2.png" class="product-img img-responsive" alt="item">
    			</li>
    		</ul> 
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/shape-3.png" class="product-img img-responsive" alt="item">
    			</li>
    		</ul> 
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Для того, чтобы ребёнок не смог случайно проглотить соску-пустышку у неё предусмотрен специальный защитный диск, его делают достаточно широким. Когда вы будете выбирать соску-пустышку нужно обязательно обратить внимание на этот диск. Очень важно, чтобы диск не имел много частей, которые могут отломаться.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					<h2>Соска Avent Soothie имеет массу преимуществ</h2>
					<img src="img/monkey1.jpg" class="product-img img-responsive" alt="item">				
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					<ul>
						<li>
							<h3>Пустышка имитирует женский сосок, что более привычно для малыша;</h3>
						</li>
						<li>
							<h3>Она цельной конструкции (это более гигиенично);</h3>
						</li>
						<li>
							<h3>Имеет большой диск;</h3>
						</li>
						<li>
							<h3>Выполнена из медицинского силикона без применения Бесфинола А и Поливинилхлорида;</h3>
						</li>
						<li>
							<h3>Бытует мнение, что форму этой соски возьмёт каждый новорожденный ребёнок если он ранее отказывался от всех других форм сосок.</h3>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					По поводу того, в каком возрасте стоит приучать новорожденного к пустышке, мнения специалистов разделились: есть мнение, что приучать стоит с первых дней жизни ребёнка. Чем дольше затягивать с этим вопросом, тем сложнее может пройти момент привыкания. Другие специалисты утверждают, что в первый месяц жизни ребёнка невероятно важен тактильный контакт с матерью, поэтому не стоит в этот момент начинать привыкать к пустышке. Я считаю, что каждая мама сама выберет подходящее время, когда предложить пустышку своему малышу.
					<br>
					Теперь опишу несколько важных моментов приучения к соске:
					<ul>
						<li>
							Целесообразно предлагать малышу соску после того, как он насытился материнским молоком, либо альтернативным питанием, и готов уснуть, но всё ещё нуждается в сосании. 
						</li>
						<li>
							Так же можно попробовать  вместо просто пустышки дать сначала соску с бутылочкой, в которой вкусное мамино молоко и постепенно заменить её просто  пустышкой. Не нужно смачивать пустышку в сахарном сиропе или медовом, так возникает зависимость малыша от установленного вкуса и сладкое содействует образованию кариеса, диатезу, так как мёд - известный аллерген.
						</li>
						<li>
							Мама может немного «настоять» на том, что соска малышу сейчас необходима, и слегка придержать её, не давая выплюнуть. Но без особых усилий, дабы не отбить полностью желание сосать пустышку. Несколько раз в день предлагайте малышу пустышку, придерживая её. 
						</li>
						<li>
							"Если вы дадите ребёнку пустышку, когда он лежит в кроватке, то подложите под неё валик, чтоб она не выпадала изо рта":- так советуют мамы и теперь становится понятными и очевидными преимущества соски Wubbanub, ведь её придумала мама.
						</li>
						<li>
							Очень важно предложить соску в тот момент, когда малыш находится в привычном для него горизонтальном положении. Ведь именно лёжа кроха принимает пищу и привык удовлетворять свой рефлекс.
						</li>
						<li>
							Малыш плачет и просит грудь, но мама уверена, что он не голоден. Это самое время попробовать взамен груди предложить соску, которая поможет ему обрести спокойствие в минуту огорчения и уснуть.
						</li>
						<li>
							 Не злоупотребляйте пустышкой: предлагайте её малышу лишь тогда, когда в этом есть реальная необходимость. Когда ребёнок спокоен, мягко уберите пустышку и переключите внимание на что-то другое, но не стоит оставлять её во рту на всё время сна и следует аккуратно извлечь, как только малыш крепко уснёт.
						</li>
					</ul> 
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					<h2>На фото наш Макс в 3 месяца и его любимый мишка WubbaNub.</h2>
					<img src="img/max.jpg" class="product-img img-responsive" alt="item">				
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Если в результате ваших стараний ребёнок не берёт соску, сделайте небольшой перерыв на пару недель. При всех преимуществах, всё ж, не злоупотребляйте пустышкой. Иногда она может быть лишней. Не стоит закрывать ею рот ребёнку всякий раз, как он только заплачет или проголодается. Старайтесь успокоить ребёнка без соски, специально не навязывайте её малышу. Пусть соска не превращается единственным утешением ребёнка, а для вас единственным спасением от капризов малыша. Удачи в начинаниях!!		
				</li>
			</ul>
		</div>
	</div>
</div>