<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><img ng-src="img/logo.png" alt="item"></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>Почему малыш может срыгивать и что с этим делать?</h2>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-03-01.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Молодых мам часто пугает срыгивания малыша и присутствует страх, что малыш во сне может захлебнуться срыгиваемой массой. Разберёмся что это и как быть.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					Немного теории.<br>
					Независимо от того, находится ребёнок на искусственном или грудном вскармливании, во время и после кормления он может отрыгнуть принятую пищу. Молодые мамы часто не знают, почему это происходит, что им делать в таких случаях и есть ли повод для волнения. Лучше всего не паниковать, а разобраться в причинах данного явления и понять, когда стоит обратиться к врачу.<br>
					Существуют спрыгивание и рвота.<br>
					Срыгивание – это непроизвольное выделение молока у младенца из желудка в маленьких или небольших порциях. Срыгивания в маленьких объёмах у новорожденных детей (дети 1-го месяца жизни) не считаются патологией, это нормальный естественный процесс. Средний объём выделений составляет 1 – 3 столовых ложки, наличие творожистых вкраплений не является патологией. Если ребёнок не теряет в весе, но постоянно отрыгивает без патологических признаков, то поводов для паники нет. К возрасту девяти месяцев практически все дети перестают срыгивать.<br>
					<b>Рвота</b> - это непроизвольное выделение молока у младенца из желудка в больших порциях.<br>
					Рвоту и срыгивание у детей родители иногда путают. Отличительные признаки рвоты:<br> 
				</li>
			</ul>
		</div>	
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					ребёнок отрыгивает свернувшимся молоком в значительном количестве, бледнеет, плачет;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					выделения имеют резкий неприятный запах;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					напрягаются мышцы брюшного пресса при процессе;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					молоко может выходить через нос;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					рвота иногда сопровождается пеной;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					в выделениях могут присутствовать кровь и желчь.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Рвота – это опасный симптом, если новорождённого рвёт, стоит обратиться как можно быстрее к врачу.<br>
					Но если срыгивания увеличиваются в объеме и становятся чаще, то у мам возникает волнение и вопросы: «Почему ребёнок срыгивает? Он не заболел? Что с этим делать?»<br>
					Причины срыгиваний : <br>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					Самая распространенная причина  – перекармливание. Молочко, которое оказалось лишним, естественным образом выходит из желудка ребёнка;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					Нарушение работы кишечника. Например, запор или колики, которые создают препятствия для нормального прохождения пищи;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					Неправильная техника кормления грудью;
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					Неправильное кормление из бутылочки; 
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">	
					Недостаточное развитие мышц пищеводного сфинктера.Слизистая складка, которая служит барьером между этими двумя органами, не может сомкнуться до конца при заполненном желудке, что и приводит к срыгиванию пищи.
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-03-02.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Неправильное поведение родителей, которые сразу же после кормления начинают переворачивать новорождённого с боку на бок, тискать, раскачивать в коляске и т.д;
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					В тяжелых случаях причиной срыгивания могут быть различные заболевания пищеварительной системы малыша, ЦНС либо другие патологические изменения в организме. 
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Что делать и как быть?<br>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Незадолго до кормления желательно выкладывать малыша на ровную, твердую поверхность на животик и сделать ему массаж мягкими движениями;
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Прикладывать к груди малыша так, чтобы он захватил вместе с соском всю нижнюю часть ареолы и часть верхней.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Если кормите из бутылочки, проверяйте отверстие в соске. Оно не должно быть слишком большим. В процессе кормления соска должна быть постоянно наполнена смесью.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-03-03.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Не рекомендуется тугое пеленание, область живота не должна быть сдавлена, вместо ползунков на резинке лучше использовать ползунки, застегивающиеся на плечиках крохи или комбинезоны.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Спать ребёнку следует на небольшой подушечке, изготовленной из 1-2 сложенных пелёнок, либо ножки головной части кроватки должны быть приподняты на 5-10 см.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					Во время сна с целью уменьшения интенсивности заброса желудочного содержимого в пищевод предпочтительнее укладывать ребёнка на живот или бок.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-03-04.gif" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
					После кормления ребёнка держать малыша вертикально (столбиком) , похлопывая слегка по спинке до получения отрыжки.
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-03-05.jpg" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
	</div>
</div>