<div id="main-nav" class="">
	<div class="container-fluid">	
		<div class="nav-header">
			<a href="#/products" class="nav-brand"><img ng-src="img/logo.png" alt="item"></a>
			<a class="nav-icon pull-right visible-xs menu-link" href="#/products/{{product.id}}" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
			<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
					<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
					<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
					<div class="col-sm-12 visible-md visible-lg">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-repeat="article in articles | filter:query" class="container-fluid product">
	<div class="row visible-xs product-mobile">
		<div class="col-xs-12 text-center">
			<h2 class="product-title">{{article.title}}</h2>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-8 ">
			<ul class="list-group">
				<li ng-repeat="img in article.images" class="list-group-item">
    				<img ng-src="{{img}}" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>
		</div>
		<div class="col-sm-4 ">
			<h2 class="product-title hidden-xs">{{article.title}}</h2>
			<div class="product-detail">
				<p>{{article.snippet}}</p>
			</div>
			<div class="paging clearfix">
				<button class="btn btn-outline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					Читать комментарии
				</button>
			</div>
			<div class="collapse" id="collapseExample">
  				<div class="well">
    				<pre>{{getMessages(article.messages)}}</pre>
  				</div>
			</div>
			<div ng-show="article.success && article.isComment" id="alert-contact"> 
				<div class="alert alert-success" role="alert"><strong>ВАШЕ КОММЕНТАРИЙ ОТПРАВЛЕН</strong></div>
			</div>
			<div ng-show="error" class="alert alert-danger">{{error}}</div>
			<div class="paging clearfix pull-right">
				<span>
					<img src="img/likes.png">&nbsp;&nbsp;&nbsp;{{article.likes}}&nbsp;&nbsp;&nbsp;
					<img src="img/comments.png">&nbsp;&nbsp;&nbsp;{{article.comments}}&nbsp;&nbsp;&nbsp;
				</span>
			</div>
			<form  name="form" action="articles.html" method="POST" class="myform">
				<div class="form-group">
					<label class="control-label" for="message">Comment</label>
        			<i class="fa fa-key"></i>
					<textarea ng-disabled="!registered()" name="message" id="message" placeholder="{{default_comment()}}" class="form-control" ng-model="article.comment" required></textarea>
        			<span ng-show="form.message.$dirty && form.message.$error.required" class="form-control">ПОЖАЛУЙСТА, НАПИШИТЕ ВАШЕ КОММЕНТАРИЙ</span>
				</div>
				<div class="product-btn">
					<a ng-click="addLike(article)" ng-disabled="article.isComment && form.$invalid || article.dataLoading || article.success" href="" class="btn">{{likeOrComment(article)}}</a>
					<img ng-if="article.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
				</div>	
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 ">
			<div class="paging clearfix">
				<a analytics-on analytics-event="ARTICLES" class="btn btn-outline pull-left" href="#/{{article.id}}"><i class="icon-arrow-left2 left"></i><span>ЧИТАТЬ</span><span class="hidden-xs"> </span></a>
			</div>
		</div>
	</div>
</div>