<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><img ng-src="img/logo.jpg" alt="item"></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/about" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>Питание кормящих мам</h2>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid product">	
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-04-01.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Питание женщины во время лактации должно быть максимально сбалансированным и безопасным для ребёнка. Сегодня есть продукты, которые не только безопасны, но даже рекомендованы для включения в рацион в период кормления грудью. Они помогают восполнить потребность организма женщины в витаминах и микроэлементах. Маме необходимо понимать, что продукты, которые она употребляет, с молоком попадают в организм ребёнка. Одни продукты усиливают метеоризм и колики у малыша, другие могут вызвать аллергию.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-04-02.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Нежелательно употребление пищи, вызывающей брожение в кишечнике и тем самым — нарушение функции желудочно-кишечного тракта : винограда, больших количеств сахара и кондитерских изделий, сладких творожных паст и сырков, сладких безалкогольных напитков, сладких каш и других продуктов, содержащих большое количество сахара. Некоторые продукты, такие как капуста, чеснок, спаржа, лук, могут изменить вкус молока, и малыш может отказаться от груди. Овощи лучше употреблять зеленые, а «цветные» использовать в супах или овощных рагу. Многие мамы акцентируют внимание на том, что хочется сладкого. Из сладостей лучше употреблять пастилу, мармелад, сухофрукты, варенье. Из мучных изделий рекомендуется песочное печенье, а от шоколадных тортов лучше отказаться.				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
    				<img src="img/article-04-03.JPG" class="product-img img-responsive" alt="item">
    			</li>
    		</ul>    		
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					В состав материнского молока входят:
					<ul>
						<li>белки, включая сывороточные альбумины и глобулины;</li>
						<li>жиры, хорошо усваиваемые новорожденным;</li>
						<li>витамины и железо;</li>
						<li>минеральные соли и микроэлементы (кальций, фосфор, медь, цинк и др);</li>
						<li>достаточное количество воды, даже в жаркое время года;</li>
						<li>специальные ферменты (липаза, амилаза), способствующие расщеплению основных ингредиентов материнского молока;</li>
						<li>специальный белок лактоферрин, связывающий и удерживающий железо, что угнетает рост патогенной флоры в кишечнике ребёнка;</li>
						<li>вещество таурин, необходимое для нормального построения сетчатки глаза, а также для оптимального развития и функционирования головного мозга;</li>
						<li>живые клетки крови (нейтрофилы, моноциты, лимфоциты), которые убивают патогенные бактерии в организме;</li>
						<li>антитела, защищающие от многих инфекционных заболеваний;</li>
						<li>опиоидные вещества, улучшающие.</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Процесс выработки молока регулируется только гормонами (пролактин и окситоцин). Само грудное молоко вырабатывается из элементов плазмы крови, поэтому питание влияет на лактацию примерно так же, как на состав крови – весьма косвенно, слегка изменяя содержание тех или иных элементов. Есть рекомендуется часто и маленькими порциями, чтобы обеспечить организму постоянный приток питательных веществ. Пытаться вписать приёмы пищи в какой-то режим особого смысла нет, достаточно есть по аппетиту. Хорошо иметь в доступности что-то на перекус. Учитывая, что первое время ребёнок подолгу находится у груди, чувство голода может застать во время или сразу после кормления.
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">	
					Кормящей женщине необходимо употреблять достаточное количество жидкости. Обычно это около 2 литров в день, но если пить не очень хочется – не стоит вливать в себя воду насильно. Тут важно найти золотую середину и не увлекаться водопоем, поскольку речь идет именно о достаточном количестве жидкости, а оно у каждого свое, определяется весом и конституцией.
				</li>
			</ul>
		</div>
	</div>
</div>