
			<div id="main-nav" class="">
				<div class="container-fluid">	
					<div class="nav-header">
							<a href="#/products" class="nav-brand"><img ng-src="img/logo.jpg" alt="item"></a>
							<a class="nav-icon pull-right visible-xs menu-link" href="#/cart" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
							<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
						</div>
				</div>
			</div>
			
			<div class="container-fluid title">
				<div class="row">
					<div class="col-sm-12">
						<h2>ВАША КОРЗИНА</h2>
					</div>
				</div>
			</div>

			<div class="container-fluid cart-list" ng-controller="cartController">
				<div class="row">
					<div class="col-sm-8">
						<table class="table">
						  <thead>
							<tr>
							  <th>товар</th>
							  <th>₽ / ед.</th>
							  <th class="text-center">кол-во</th>
							  <th class="text-right">цена</th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng:repeat="item in invoice.items">
	  	 						<td class="vert-align"><a href="{{ item.url }}">{{ item.vendor }} - {{ item.title }}</a></td>
								<td class="vert-align">{{ item.cost | currency:"₽ ":0 }}</td>
								<td class="text-center vert-align"><input type="number" min="1" max="20" ng:model="item.qty" ng:required class="form-control form-control-inline" style="width: 52px!important;"></td>
								<td class="text-right vert-align">{{ item.qty * item.cost | currency:"₽ ":0 }}</td>
								<td class="text-center vert-align"><a href="#/cart" ng:click="removeItem($index)" class="remove-item"><i class="icon-close"></i></a></td>
							</tr>	
<!-- 							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr> -->
							<tr ng-if="total() == 0">
								<td colspan="5">
									<h2 class="text-center">ВАША КОРЗИНА ПУСТА</h2>
								</td>
							</tr>
						  </tbody>
						</table>
						
						<h4>УСЛОВИЯ ДОСТАВКИ <small>[*]</small></h4>
						<p>	
							Доставка по Москве осуществляется по базовой ставке - 300 руб.<br>
							Доставка за пределы МКАД осуществляется по базовой ставке плюс 30 руб./км<br><br>
							Самовывоз по адресу: 125466, г.Москва, ул. Родионовская дом 10, кор. 1<br>
							Магазин "Детский", тел.: +7 (499) 401-96-86<br><br>
							Доставка за пределы Москвы и Московской области осуществляются Почтой России по согласованию с Клиентом после полной оплаты товара и стоимости почтовых услуг
						</p>	

					</div>
					<div class="col-sm-4 "  ng-if="total() > 0">
							<table class="table">
							  <thead>
								<tr>
								  <th colspan="3" class="text-center">ваш заказ</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <td>подитог :</td>
								  <td></td>
								  <td class="text-right"><b>{{ total() | currency:"₽ ":0 }}</b></td>
								</tr>								
								<tr>
								  <td>доставка <small>[*]</small> :</td>
								  <td></td>
								  <td class="text-right">{{ shiping() | currency:"₽ ":0 }}</td>
								</tr>
								<tr>
								  <td>налог :</td>
								  <td></td>
								  <td class="text-right">{{ tax | currency:"₽ ":0 }}</td>
								</tr>
								<tr>
								  <td>итого :</td>
								  <td></td>
								  <td id="total" class="text-right">{{ total() + shiping() + tax | currency:"₽ ":0 }}</td>
								</tr>
							  </tbody>
							</table>
						
							<a analytics-on analytics-event="CHECKOUT" href="#/checkout" class="btn btn-right" ng-click="skipUpdate()">Оформить заказ</a>
							<a ng-if="itsUpdate" analytics-on analytics-event="UPDATEORDER" href="#/checkout" class="btn btn-right">Изменить заказ</a>
					</div>	
				</div>

				<div class="row">
					<div class="col-sm-12 text-center show-more">
						<a analytics-on analytics-event="CANCEL_CHECKOUT" href="#/products" class="btn btn-outline">Вернуться к просмотру</a>
					</div>	
				</div>	

			</div>