
<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><img ng-src="img/logo.jpg" alt="item"></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/contact" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

	<div class="container-fluid title">
		<div class="row">
			<div class="col-sm-12">
				<h2>МЫ РАДЫ ВАМ ОТВЕТИТЬ</h2>
			</div>
		</div>
	</div>
			
	<div class="container-fluid contact product">
		<div class="row">		
			<div class="col-xs-12 col-sm-4">
				<address>
					<p>ВОСПОЛЬЗУЙТЕСЬ ФОРМОЙ ДЛЯ ОБРАТНОЙ СВЯЗИ</p>
					<p><span class="visible-md visible-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
					<p><small>НАШ АДРЕС: Россия, 141400, Московская область,</small></p>
					<p><small>г. Химки, ул. Ленинградская, владение 39</small></p>
					<p><small>строение 6, офис 15В</small></p>
					<p><small>Тел.: +7 905 716 4108</small></p>
					<p><small>Тел.: +7 926 598 5881</small></p>
					<p><small>Эл. почта: info@sos-ka.ru</small></p>
					<p><small>ИП Севрюгина А.В. ОГРНИП 315774600414423</small></p>
				</address>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div ng-show="success" id="alert-contact"> 
					<div class="alert alert-success" role="alert"><strong>ВАШЕ СООБЩЕНИЕ ОТПРАВЛЕНО</strong></div>
				</div>
				<div ng-show="error" class="alert alert-danger">{{error}}</div>
				<form name="form" ng-submit="send()" role="form" class="myform">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="firstname">First Name</label>
        						<i class="fa fa-key"></i>
       							<input type="text" name="firstname" id="firstname" placeholder="имя" class="form-control" ng-model="firstname" required />
        						<span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШЕ ИМЯ</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="lastname">Last Name</label>
        						<i class="fa fa-key"></i>
       							<input type="text" name="lastname" id="lastname" placeholder="фамилия" class="form-control" ng-model="lastname" required />
        						<span ng-show="form.lastname.$dirty && form.lastname.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШУ ФАМИЛИЮ</span>
							</div>
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label" for="email">EMail</label>
        				<i class="fa fa-key"></i>
       					<input type="text" name="email" id="email" placeholder="адрес электронной почты" class="form-control" ng-model="email" required />
        				<span ng-show="form.email.$dirty && form.email.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШ АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</span>
					</div>
					<div class="form-group">
						<label class="control-label" for="phone">Phone</label>
        				<i class="fa fa-key"></i>
       					<input type="text" name="phone" id="phone" placeholder="номер телефона" class="form-control" ng-model="phone" required/>
        				<span ng-show="form.phone.$dirty && form.phone.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШ НОМЕР ТЕЛЕФОНА</span>
					</div>					
					<div class="form-group">
						<label class="control-label" for="message">Message</label>
        				<i class="fa fa-key"></i>
						<textarea name="message" id="message" placeholder="ваше сообщение" class="form-control" ng-model="message" required></textarea>
        				<span ng-show="form.message.$dirty && form.message.$error.required" class="form-control">ПОЖАЛУЙСТА, НАПИШИТЕ ВАШЕ СООБЩЕНИЕ</span>
					</div>
					<p><button analytics-on analytics-event="MESSAGE" type="submit" ng-disabled="form.$invalid || dataLoading || success" class="btn btn-store btn-block">Отправить</button></p>
        			<img ng-if="newdataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>		
				</form>
			</div>		
		</div>	
	</div>
</div>
			