
<div id="wrap">
	<div id="main-nav" class="">
		<div class="container-fluid">	
			<div class="nav-header">
				<a href="#/products" class="nav-brand"><img ng-src="img/logo.jpg" alt="item"></a>
				<a class="nav-icon pull-right visible-xs menu-link" href="#/login" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
				<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
			</div>
		</div>
	</div>

			<div class="container-fluid cart-list">
				<div class="row">
					<div class="col-sm-6">
						<div ng-show="error" class="alert alert-danger">{{error}}</div>
						<form name="form" ng-submit="login()" role="form" class="myform">

							<h2 class="text-center">ВОЙТИ</h2>
							<!-- <h3 class="text-center">Login to shop</h3> -->
						
							<div class="form-group">
								<label class="control-label" for="username">Email</label>
        						<i class="fa fa-key"></i>
       							<input type="text" name="username" id="username" placeholder="адрес электронной почты" class="form-control" ng-model="username" required />
        						<span ng-show="form.username.$dirty && form.username.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</span>
							</div>
							<div class="form-group">
								<label class="control-label" for="password">Password</label>
        						<i class="fa fa-lock"></i>
        						<input type="password" name="password" id="password" placeholder="пароль" class="form-control" ng-model="password" required />
        						<span ng-show="form.password.$dirty && form.password.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШ ПАРОЛЬ</span>
							</div>	
        					<p><button analytics-on analytics-event="LOGIN" type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-store btn-block">Вход</button></p>
        					<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
							<div ng-show="success" id="alert-contact"> 
								<div class="alert alert-success" role="alert"><strong>Email with password has been sent</strong></div>
							</div>
							<div class="paging clearfix">
								<button ng-click="SendPassword()" class="btn btn-outline" type="button" ng-disabled="success">
									Забыли пароль?
								</button>
							</div>
						</form>
					</div>				
					<div class="col-sm-6">
						<form name="reg_form" ng-submit="reg()" role="reg_form" class="myform">
							<h2 class="text-center">ЗАРЕГИСТРИРОВАТЬСЯ</h2>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label" for="firstname">First name</label>
										<i class="fa fa-key"></i>
										<input type="text" name="firstname" id="firstname" placeholder="имя" class="form-control" ng-model="firstname" required />
										<span ng-show="reg_form.firstname.$dirty && reg_form.firstname.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШЕ ИМЯ</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label" for="lastname">Last name</label>
										<i class="fa fa-key"></i>
										<input type="text" name="lastname" id="lastname" placeholder="фамилия" class="form-control" ng-model="lastname" required />
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label" for="username">Email</label>
        						<i class="fa fa-key"></i>
       							<input type="text" name="newusername" id="newusername" placeholder="адрес электронной почты" class="form-control" ng-model="newusername" required ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|site|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" ng-minlength="6"/>
        						<span ng-show="reg_form.newusername.$dirty && reg_form.newusername.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</span>
        						<span ng-show="reg_form.newusername.$error.pattern || reg_form.newusername.$error.minlength" class="form-control">НЕПРАВИЛЬНЫЙ ФОРМАТ E-MAIL</span>
							</div>
							<div class="form-group">
								<label class="control-label" for="password">Password</label>
        						<i class="fa fa-lock"></i>
        						<input type="password" name="newpassword" id="newpassword" placeholder="пароль" class="form-control" ng-model="newpassword" required />
        						<span ng-show="reg_form.newpassword.$dirty && reg_form.newpassword.$error.required" class="form-control">ПОЖАЛУЙСТА, УКАЖИТЕ ВАШ ПАРОЛЬ</span>
							</div>	
							<p><button analytics-on analytics-event="REGISTER" type="submit" ng-disabled="reg_form.$invalid || dataLoading" class="btn btn-store btn-block">Зарегистрироваться</button></p>
        					<img ng-if="newdataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 text-center show-more">
						<a href="index.html" class="btn btn-outline">Отменить и вернуться в магазин</a>
					</div>	
				</div>	

			</div>
	</div>