<div id="main-nav" class="">
				<div class="container-fluid">	
					<div class="nav-header">
							<a href="#/products" class="nav-brand"><img ng-src="img/logo.jpg" alt="item"></a>
							<a class="nav-icon pull-right visible-xs menu-link" href="#/products" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
							<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
						</div>
				</div>
</div>

<div id="top" ng-if="queryActive()" class="container-fluid hidden-xs">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/">Коллекция</a></li>
			<li class="active">{{vendor.title}}</li>
		</ol>
	</div>
</div>

<div class="container-fluid productlist">
	<div class="row">
		<div ng-repeat="product in products | filter:query">
			<div ng-if="nextVendor(product)">
				<div class="row">
					<div class="col-sm-12 text-center show-more">
						<div class="paging clearfix">
							<a class="btn btn-outline" href="#/vendor/{{vendor.id}}"><i class="icon-arrow-left2 left"></i><span>{{vendor.title}}</span><span class="hidden-xs"> </span></a>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="!product.banner" ng-class="productClass(product)">
				<a href="#/products/{{product.id}}">
					<img ng-src="{{product.imageUrl}}" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							<span class="price">{{product.qty ? (product.cost | currency:"₽ ":0) : "под заказ"}}</span>
							<span ng-if="product.oldCost" class="original-price">{{product.oldCost | currency:"₽ ":0 }}</span>
						</span>
					</span> 
				</a>
			</div>
			<div ng-if="product.banner && product.active" ng-class="productClass(product)">
				<a href="{{product.url}}">
					<img ng-src="{{product.imageUrl}}" class="img-responsive" alt="item">
					<span class="productlist-price-container">
						<span class="product-price">
							<span class="price">{{product.title}}</span>
						</span>
					</span> 
				</a>
			</div>
		</div>
	</div>
	<div ng-show="success" id="alert-contact"> 
		<div class="alert alert-success" role="alert"><strong>Sent to Yandex</strong></div>
	</div>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<div ng-if="admin()" class="paging clearfix">
		<button ng-click="send()" class="btn btn-outline" type="button" ng-disabled="success">
					Add to Yandex Shopping
		</button>
		<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
	</div>
</div>

<div ng-if="queryActive()" class="container-fluid hidden-xs">
	<div class="row">
		<div class="col-sm-4">
			<div class="paging clearfix">
				<a class="btn btn-outline pull-left" href="#/products"><i class="icon-arrow-left2 left"></i><span>Назад</span><span class="hidden-xs"> </span></a>
			</div>
		</div>
	</div>
</div>