<div id="main-nav" class="">
				<div class="container-fluid">	
					<div class="nav-header">
							<a href="#/products" class="nav-brand"><img ng-src="img/logo.jpg" alt="item"></a>
							<a class="nav-icon pull-right visible-xs menu-link" href="#/products/{{product.id}}" ng-click="menuToggle()"><i class="icon-menu2"></i></a>
							<a class="nav-icon-outline cart pull-right" href="#/cart"><i class="icon-cart"></i><span class="badge">{{qty()}}</span></a>
						</div>
				</div>
</div>

<div class="container-fluid hidden-xs">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/">Коллекция</a></li>
			<li><a href="#/vendorProducts/{{vendor.id}}">{{vendor.title}}</a></li>
			<li class="active">{{product.title}}</li>
		</ol>
	</div>
</div>

<div class="container-fluid product">
	<div class="row visible-xs product-mobile">
		<div class="col-xs-12 text-center">
				<h3>{{product.productType}} {{vendor.title}} {{product.title}}</h3>
				<div class="product-price">
					<span class="price">{{product.qty ? (product.cost | currency:"₽ ":0) : "под заказ 30 дней"}}</span>
					<span ng-if="product.oldCost" class="original-price">{{product.oldCost | currency:"₽ ":0 }}</span>
				</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-8 ">
			<ul class="list-group">
				<li ng-repeat="img in product.images" class="list-group-item">
    				<img ng-src="{{img}}" class="product-img img-responsive" alt="item">
    				<span class="productlist-price-container">
						<span class="product-price">
							<span class="price">{{product.age}}</span>
						</span>
					</span> 
    			</li>
    		</ul>
		</div>
		<div class="col-sm-4 ">
			<h3 class="product-title hidden-xs">{{product.productType}} {{vendor.title}} {{product.title}}</h3>
			<div class="product-price hidden-xs">
				<span class="price">{{product.qty ? (product.cost | currency:"₽ ":0) : "ПОД ЗАКАЗ 30 ДНЕЙ"}}</span>
				<span ng-if="product.oldCost" class="original-price">{{product.oldCost | currency:"₽ ":0 }}</span>
				<div ng-if="options">
					<select ng-model="colors">
						<option ng-repeat="option in options" 
								ng-selected="getOptionValue(option) == getOptionById(0)">
							{{getOptionValue(option)}}
						</option>
					</select>
				</div>
			</div>
			<div class="product-detail">
				<p>{{product.snippet}}</p>
			</div>
			<form  action="product1.html" method="POST" class="myform">
				<div class="form-group clearfix">
				</div>	
					<div ng-if="product.qty>0 && !product.freebee && !product.banner" class="product-btn">
						<a ng-click="addToCart(product)" href="" class="btn">Добавить в корзину</a>
					</div>
					<div ng-if="product.qty==0 && !product.freebee && !product.banner" class="product-btn">
						<a href="#/preorder/{{product.id}}" class="btn">Оставить заказ</a>
					</div>
			</form>
			<div class="paging clearfix">
				<button class="btn btn-outline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					Узнать больше
				</button>
			</div>
			<div class="collapse" id="collapseExample">
  				<div class="well">
    				{{vendor.details}}
  				</div>
			</div>
			<div ng-show="success" id="alert-contact"> 
				<div class="alert alert-success" role="alert"><strong>Sent to google</strong></div>
			</div>
			<div ng-show="error" class="alert alert-danger">{{error}}</div>
			<div ng-if="admin()" class="paging clearfix">
				<button ng-click="send()" class="btn btn-outline" type="button" ng-disabled="success">
					Add to Google Merchant Account
				</button>
				<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sx-6">
			<div class="paging clearfix">
				<a class="btn btn-outline pull-left" href="#/products/{{prevVId}}"><i class="icon-arrow-left2 left"></i><span>Назад</span><span class="hidden-xs"> </span></a>
			</div>
		</div>
		<div class="col-sm-4 col-sx-6">
			<div class="paging clearfix">
				<a class="btn btn-outline pull-right" href="#/products/{{nextVId}}"><span>Вперед</span><i class="icon-arrow-right2 right"></i><span class="hidden-xs"> </span></a>
			</div>
		</div>
	</div>
</div>

<div ng-show="false" itemscope itemtype="http://schema.org/Product">
    <span itemprop="name">{{product.productType}} {{vendor.title}} {{product.title}}</span>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="RUB" />₽
      <span itemprop="price">{{product.cost}}</span>
      <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>New
      <meta itemprop="availability" content="http://schema.org/InStock"/>Available online
    </div>
</div>
